# ukol-08: Adopce zvířat

In [1]:
import pandas

In [28]:
zvirata = pandas.read_csv("adopce-zvirat.csv", sep=";")
zvirata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

In [29]:
zvirata

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [30]:
zvirata.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [31]:
zvirata.iloc[34][["nazev_cz", "nazev_en"]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

### Bonus

Adopce kterých zvířat je nejdražší?

In [42]:
zvirata_podle_ceny = zvirata.sort_values("cena", ascending=False)
nejvyssi_cena = zvirata_podle_ceny.iloc[0]["cena"]
nejdrazsi_zvirata = zvirata[zvirata["cena"]==nejvyssi_cena]
nejdrazsi_zvirata[["nazev_cz", "nazev_en"]]

                                      nazev_cz                nazev_en
113                            Tygr ussurijský          Siberian tiger
114                            Tygr sumaterský          Sumatran tiger
128                               Slon indický          Asian elephant
129                          Hroch obojživelný            Hippopotamus
135  Žirafa severní núbijská (= Rothschildova)  Rothschild's giraffe
272                              Tygr malajský           Malayan tiger

Které zvíře je alfabeticky poslední v češtině?

In [43]:
zvirata_podle_abc_cz = zvirata.sort_values("nazev_cz", ascending=False)
zvirata_podle_abc_cz.iloc[0]

id                               1190
nazev_cz                  Žluva hajní
nazev_en       Eurasian golden oriole
trida_cz                        Ptáci
cena                             1000
k_prohlidce                         1
Name: 371, dtype: object

Které v angličtině?

In [44]:
zvirata_podle_abc_en = zvirata.sort_values("nazev_en", ascending=False)
zvirata_podle_abc_en.iloc[0]

id                                 491
nazev_cz           Frankolín žlutokrký
nazev_en       Yellow-necked francolin
trida_cz                         Ptáci
cena                              1000
k_prohlidce                          1
Name: 161, dtype: object

Zvířata které třídy jsou v průměru nejlevnější a nejdražší?

In [50]:
tridy_prumerna_cena = zvirata.groupby("trida_cz")["cena"].mean()
tridy_prumerna_cena.sort_values()

trida_cz
Bezobratlí       1000.000000
Ryby             1157.894737
Ptáci            1786.919831
Plazi            2343.434343
Obojživelníci    3375.000000
Savci            7112.318841
Name: cena, dtype: float64

Která zvířata nejsou k dispozici k prohlídce?

In [55]:
neni_prohlidka = zvirata[zvirata["k_prohlidce"]==0]
neni_prohlidka

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
17,73,Krajta královská,Ball python,Plazi,2000,0
20,79,Užovka nosatá,Vietnamese longnose snake,Plazi,1500,0
31,95,Marabu africký,Marabou stork,Ptáci,4000,0
53,147,Orel kejklíř,Bateleur,Ptáci,3000,0
54,148,Hadilov písař,Secretary bird,Ptáci,3000,0
55,152,Guan modrohrdlý,Blue-throated piping-guan,Ptáci,2000,0
73,202,Lori papuánský,Papuan lorikeet,Ptáci,1500,0
75,212,Papoušek mniší,Monk parakeet,Ptáci,1000,0
83,233,Dudek chocholatý,Hoopoe,Ptáci,1500,0
85,235,Zoborožec kaferský,African ground hornbill,Ptáci,3000,0
122,366,Morče domácí,Guinea pig,Savci,1000,0
150,447,Korunáč šedomodrý,Common crowned pigeon,Ptáci,1500,0
162,492,Bodlinatka turecká,Turkish spiny mouse,Savci,1000,0
170,508,Pštros dvouprstý,Ostrich,Ptáci,5000,0
178,563,Mandelík hajní,Common roller,Ptáci,1500,0
179,568,Vlhovec chocholatý,Crested oropendola,Ptáci,1500,0
183,576,Králík domácí,Domestic rabbit,Savci,1000,0
187,585,Buvolec běločelý,Blesbock,Savci,5000,0
188,586,Přímorožec beisa,Beisa oryx,Savci,5000,0
205,652,Voduška červená,Southern lechwe,Savci,5000,0
230,745,Nesyt africký,Yellow-billed stork,Ptáci,2500,0
234,758,Voduška abok,Nile lechwe,Savci,5000,0
248,791,Čichavec líbající,Kissing gourami,Ryby,1000,0
266,868,Sekavka nádherná (= mřenka nádherná),Clown loach,Ryby,1000,0
276,910,Papoušek vlnkovaný (= andulka vlnkovaná),Budgerigar,Ptáci,1000,0
278,913,Čichavec perleťový,Pearl gourami,Ryby,1000,0
284,939,Amuřice Hoevenova,Red-finned cigar shark,Ryby,1000,0
285,940,Čichavec drobnošupinný,Moonlight gourami,Ryby,1000,0
287,949,Labeo černé,Black shark,Ryby,1000,0
288,950,Labeo červenoocasé,Red-tailed labeo,Ryby,1000,0
289,952,Labeo krásnoploutvé,Thai flying fox,Ryby,1000,0
291,960,Parmička pruhoocasá,Spanner barb,Ryby,1000,0
292,964,Parmička Schwanenfeldova,Tinfoil barb,Ryby,1000,0
293,967,Parmička žraločí,Bala shark,Ryby,1000,0
301,996,Hrdlička divoká,European turtle-dove,Ptáci,1000,0
307,1021,Čejka žlutonohá,African wattled lapwing,Ptáci,1500,0
339,1130,Ježek západní,Western hedgehog,Savci,2000,0
345,1150,Myš pruhovaná,Mesic mouse,Savci,1000,0
350,1156,Sojkovec vlnkohřbetý,Barred laughingthrush,Ptáci,1000,0
354,1164,Čája obojková,Southern screamer,Ptáci,2500,0
357,1167,Flétnák australský,Australian magpie,Ptáci,1500,0
386,1219,Holub zlatoprsý,Cinnamon ground-dove,Ptáci,1000,0
410,1274,Latam vlaštovčí,Swift parrot,Ptáci,1500,0
413,1278,Pelikán skvrnozobý,Spot-billed pelican,Ptáci,8000,0
416,1286,Velemyš (krysa) největší,Southern giant slender-tailed cloud rat,Savci,4000,0
424,1298,Tinama přilbová,Elegant crested tinamou,Ptáci,1000,0
447,1333,Neoféma Bourkova,Bourkeâ€™s parrot,Ptáci,1000,0
453,1344,Sup kapucín,Hooded vulture,Ptáci,3000,0
455,1347,Vlhovec žlutokápý,Yellow-hooded blackbird,Ptáci,1000,0
457,1350,Kondor královský,King vulture,Ptáci,3000,0
463,1361,Šírohlavec východní,Eastern Montpellier snake,Plazi,1500,0
468,1367,Rybák obecný,Common tern,Ptáci,2000,0
481,1383,Kraska krátkoocasá jávská,Javan green magpie,Ptáci,3000,0
487,1392,Chřástal kropenatý,Porzana porzana,Ptáci,1500,0
501,1409,Dytík bledý,,Ptáci,1500,0

Kolik zvířat není k dispozici k prohlídce?

In [56]:
neni_prohlidka.shape[0]

55

Kolik zvířat které třídy není k dispozici k prohlídce?

In [66]:
neni_prohlidka.groupby("trida_cz").count()

          id  nazev_cz  nazev_en  cena  k_prohlidce
trida_cz
Plazi      3         3         3     3            3
Ptáci     31        31        31    31           31
Ryby      11        11        11    11           11
Savci     10        10        10    10           10

Ve které třídě je nejvíc a ve které nejmíň zvířat?

In [63]:
tridy = zvirata.groupby("trida_cz").count()
tridy.sort_values("id")

                id  nazev_cz  nazev_en  cena  k_prohlidce
trida_cz
Obojživelníci    8         8         8     8            8
Bezobratlí      12        12        12    12           12
Ryby            19        19        19    19           19
Plazi           99        99        99    99           99
Savci          138       138       138   138          138
Ptáci          237       237       237   237          237